main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.detail-container {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    height: 450px;
}

h1 {
    font-size: 36px;
    padding-bottom: 50px;
    font-weight: 700;
}



.detail-container .label {
    color: hsl(200, 0%, 60%);
    font-size: 14px;
    font-style: italic;
}

.detail-container .item {
    font-size: 18px;
    margin-bottom: 20px;
    color: hsl(200, 50%, 40%);
}

.detail-container span {
    margin-bottom: 100px;
}

.media-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.media-container .level-detail-img {
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.media-container audio {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 18px;
}

.error-container {
    color: #e74c3c;
}

@media (max-width: 900px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
        width: 90%;
    }
    .media-container {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .detail-container {
        margin-top: 20px;
        max-width: 90%;
        min-width: 300px;
        padding: 20px;
    }

}
